
<div class="row w-50 mx-auto" >
    <% if flash[:logout] %>
        <p class="alert alert-danger" role="alert">
            <%= flash[:logout] %>
        </p>
    <% end %>
    <% if session[:username] && session[:user_id] %>
        <p class="w-100 text-center">
            Logged in as
            <% if session[:isAdmin] == true %>
                <span style="color:green; font-weight: bold"> <%= session[:username] %> </span>
            <% else %>
                <span style="color:purple; font-weight: bold"> <%= session[:username] %> </span>
            <% end %>
        </p>
    <% else %>
        <p class="w-100 text-center">
            Welcome to your Basecamp
        </p>
    <% end %>
</div>

